/* ------------- TAGS ------------- */

body {
  margin: 0px;
  padding: 0px;
}

input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  font-size: 22px;
}

input {
  padding-left: 10px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: black;
}

img {
  height: 30%;
}

/* ------------- CLASSES: Search Section ------------- */

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.searchSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #153c77;
  color: white;
}

.latestDealsIntro {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border-color: #0c2244;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #0c2244;
  margin-top: 10px;
}

.latestDealsIntro1 {
  color: #bbc1ca;
  border: none;
  border-radius: 180px;

  margin-bottom: 30px;
  background-color: #153c77;
  color: #0c2244;
}

.introText {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 50px;
}

.introText2 {
  margin: 0;
  margin-top: 10px;
}

.searchButton {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #0c2244;
}

/* ------------- CLASSES: Deals Section ------------- */

.dealsSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dealsName {
  font-size: 20px;
  font-weight: bolder;
}
.game {
  width: 80%;
  height: 300px;
  border: none;
  border-radius: 15px;
  background-color: #2259ac;
  color: white;
  margin: 20px;
  font-size: 15px;
  padding: 5px;
}

.cheapestDealText {
  margin: 0px;
  margin-top: 20px;
}

/* ------------- CLASSES: Sales Section ------------- */

.salesSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.salesName {
  font-size: 25px;
  font-weight: bolder;
}

.salesGame {
  width: 80%;
  height: 490px;
  border: none;
  border-radius: 15px;
  background-color: #153c77;
  color: white;
  margin: 20px;
  font-size: 15px;
  padding: 5px;
}

.salesSavedText {
  font-size: 25px;
}

.saleText {
  font-size: 15px;
}

.imgSize {
  border-radius: 97%;
  width: 150px;
}

.gameLink {
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 15px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  flex-direction: row;
  text-decoration: none;
}

.gameLink:hover {
  background-color: lightblue;
}

.totalprice {
  text-align: right;
  margin-right: 30px;
  margin-bottom: 30px;
}

.pagination {
  justify-content: center;
  align-items: center;
}
